$prefix: 'or' !default;

// color
$or-gray8: #212121 !default;
$or-gray7: #424242 !default;
$or-gray6: #616161 !default;
$or-gray5: #757575 !default;
$or-gray4: #9E9E9E !default;
$or-gray3: #BDBDBD !default;
$or-gray2: #E0E0E0 !default;
$or-gray1: #EEEEEE !default;
$or-gray0: #F5F5F5 !default;

$or-basic-blue: #2196F3 !default;
$or-light-blue: #90CAF9 !default;

$or-basic-red: #F44336 !default;
$or-light-red: #F16459 !default;

$or-primary-color: #212121 !default;
$or-primary-color-light: #333 !default;
$or-disabled-color: $or-gray3;
$or-warning-color: $or-basic-red;
$or-warning-color-light: $or-light-red;

// border radius
$or-border-radius: 3px !default;
$or-border-radius-lg: 5px !default;
$or-border-radius-sm: 1px !default;

$or-border-width: 1px !default;
$or-border-width-lg: 2px !default;

// gap
$or-gap: 10px;

// dividing line
$or-separator-width: 1px !default;
$or-separator-color: $or-gray2 !default;

$or-font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
